
.form{
    color: black;
    display: flex;
    flex-direction: column;
    width: 90%;
    align-items: center;
    justify-content: center;
    margin-left: 1.5rem;
    margin-top: .5rem;
}

.header{
    margin-bottom: .5rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: whitesmoke;
}

.items{
    margin-bottom: .5rem;
    width: 100%;
    box-shadow: 0;
    border: none;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    padding: 1rem;
}