.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header{
    border: none;
    width: 90%;
    background: transparent;
    margin-bottom: .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.items{
    margin-bottom: .5rem;
    width: 100%;
    color: white;
    background: transparent;
    padding: .5rem;
    box-shadow: 0;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 15px;
}